[cylc]
# non task-specific suite config

[scheduling]
# determines when tasks are ready to run
# the dependency graph, which defines relationship among tasks
    [[dependencies]]
        graph = """
            checkout-model => compile-model-1 => compile-model-2 => run-regression
            run-regression => run-production
            run-regression => combine-regression => transfer-regression
            run-production => combine-production => transfer-production => start-postprocessing"""

[runtime]
# determines how, where, and what to execute when tasks are ready
# script, environment, job submission, remote hosting, etc
# suite-wide defaults in the root namespace
# a nested family hierarchy with common properties inherited by related tasks
    [[root]]
        env-script = """
            . $MODULESHOME/init/bash
            module use -a /ncrc/home1/Chris.Blanton/git/fre/modulefiles
            module load rose
            eval $(rose task-env)"""
        script = rose task-run --verbose
        [[[job]]]
            submission polling intervals = PT5S
            execution polling intervals = PT5S, PT10S
            execution time limit = PT3H
        [[[events]]]
            mail events = submission timeout, execution timeout, failed
            mail to = {{MAIL_TO}}
            submission timeout = P1D
        [[[environment]]]
    [[checkout-model]]
        [[[job]]]
            batch system = slurm
            execution time limit = PT30M
        [[[directives]]]
            --nodes=1
    [[compile-model-1]]
    [[compile-model-2]]
    [[run-regression]]
    [[combine-regression]]
    [[transfer-regression]]
    [[run-production]]
    [[combine-production]]
    [[transfer-production]]
    [[start-postprocessing]]

[visualization]
# suite graph styling
